[submodule "Mask"]
	path = Mask
	url = ../Mask.git
[submodule "EigenHelpers"]
	path = EigenHelpers
	url = ../EigenHelpers.git
[submodule "PatchProjection"]
	path = PatchProjection
	url = ../PatchProjection.git
[submodule "Histogram"]
	path = Histogram
	url = ../Histogram.git
[submodule "CMakeHelpers"]
	path = CMakeHelpers
	url = ../CMakeHelpers.git
